@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Users" asp-action="LogIn" methods="get">Log in</a>
    </p>
    <p>
        <a asp-controller="Users" asp-action="Create" methods="get">Create account</a>
    </p>

</div>
