@{
    ViewData["Title"] = "Content Unavailable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Content Unavailable</h1>
To see this content please <a asp-controller="Users" asp-action="LogIn" methods="get">Log in</a> first.

<p>
    Don't have your account yet? You can create one <a asp-controller="Users" asp-action="Create" methods="get">here</a>.
</p>
<p>
    <a asp-controller="Home" asp-action="Index" methods="get">Back to Main page</a>
</p>