@{
    ViewData["Title"] = "Reservation Confirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation Confirmed</h1>

<p>
    <a asp-controller="Home" asp-action="Index" methods="get">Back to Main page</a>
</p>