@{
    ViewData["Title"] = "Reservation Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation Failed</h1>

This book is unavailable.

<p>
    <a asp-controller="Home" asp-action="Index" methods="get">Back to Main page</a>
</p>